body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


.container {
    height: 100vh;
    display: flex;
}

.left {
    display: flex;
    flex: 1;
    background:white;
    margin-left: 10px;
}

.right {
    display: flex;
    flex: 2;
    background-color: white;
    margin-left: -200px;
    margin-top: 40px;
}

#main-doc {
    display: block;
    background-color: white;
}

.left #navbar {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 263px;
    height: 100%;
    margin-left: -12px;
    border-right: 1px solid grey;
    border-right-width: 2px;

}

header {
    font-size: 26px;
    margin: 20px;
}

.nav-link {
    margin: 2px;
    padding: 10px;
    line-height:1.6;
    font-size: 18px;
    border-top: 1px solid grey;
    border-top-width: 1px;
    color: #4d4e53;
    text-decoration: none;
}

p {
    color: #4d4e53;
}

ul {
    color: #4d4e53;
}

code {
    background-color: #ECECEC;
    padding: 10px;
    border-radius: 8px;
    display: block;
}


/* font-family: 'EB Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif; */